<h1>Customer's Data</h1>
<p>Customer works!</p>
<h2>All Customers List</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Age</th>
        <th>Phone No</th>
        <th>UserRole</th>
    </tr>
    <tr *ngFor="let cst of customer_data">
        <td>{{cst.id}}</td>
        <td>{{cst.name}}</td>
        <td>{{cst.gender}}</td>
        <td>{{cst.email}}</td>
        <td>{{cst.age}}</td>
        <td>{{cst.phoneno}}</td>
        <td>{{cst.userRole}}</td>
    </tr>
</table>